<!-- Homepage index.html -->
{% extends "layouts/default.njk" %}
{% block content %}
  <section id="whatisthis" class="page-section container container--full bg_blue c_white">
    {% include "partials/what-is-this.njk" %}
  </section>
  <section id="latestnews" class="page-section container container--full bg_white">
    {% include "partials/latest-news.njk" %}
  </section>

  <section id="howtohelp" class="page-section container container--full bg_gray ">
    {% include "partials/how-to-help.njk" %}
  </section>
{% endblock %}