<!-- Homepage index.html -->
{% extends "layouts/default.njk" %}
{% block content %}
  <div class="container">
    <img id="logo" src="{{logo}}" alt="The Living Computation Foundation Logo" width="60%"/>
    <h1 class="title">{{welcome_message}}</h1>
    <h2 class="subtitle">SOFT LAUNCH IN PROGRESS</h2>
    {# {% include "partials/main-nav.njk" %} #}
  </div>
{% endblock %}