<!-- Homepage index.html -->
{% extends "layouts/default.njk" %}
{% block content %}
  <section id="latestnews" class="page-section container container--full bg_white">
    {% include "partials/all-news.njk" %}
  </section>
{% endblock %}