<footer class="main-footer bg_orange c_blue">
  <img class="logo" src="/assets/logo-orange-bg.svg" alt="San Diego Fighting Covid Logo">
  <ul>
    <li>
      <a href="mailto:{{contact_info.email}}">{{contact_info.email}}</a>
    </li>
    <li>
      <a href="{{contact_info.twitter_link}}" target="_blank">twitter</a>
    </li>
  </ul>
</footer>