<div class="container">
  <h1 class="section-title">How To Help</h1>
  <section class="action-section">
    <h2 class="c_orange">3D Print PPE</h2>
    <p>These four designs have been approved by the National Institute of Health, choose one and follow the instructions on the corresponding website to get started printing.</p>
    <ul class="pad-bottom-25px">
      <li>
        <a href="https://3dprint.nih.gov/discover/3dpx-013421" target="_blank">Stratasys</a>
      </li>
      <li>
        <a href="https://3dprint.nih.gov/discover/3dpx-013309" target="_blank">IC3D Budmen Design</a>
      </li>
      <li>
        <a href="https://3dprint.nih.gov/discover/3dpx-013306" target="_blank">3D Verkstan</a>
      </li>
      <li>
        <a href="https://3dprint.nih.gov/discover/3dpx-013359" target="_blank">Modified Prusa Design</a>
      </li>
    </ul>
    <p>
      <strong>Only these approved designs will be accepted as donations.</strong>
      Be sure to fill out
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cJ4O4qUnG9TQ6F_llwx0M1fqduim3nNvn-uQqdypvwkMlg/viewform" target="_blank">this form</a>
      with your contact information to be notified about how 3D printed parts will be collected.</p>
    <p>While PETG is the preferred material, face shields printed in PLA or ABS will be accepted.</p>
  </section>
  <section class="action-section">
    <h2 class="c_orange">Volunteer Your Time</h2>
    <p>We need people from all walks of life that can help in any way possible. We are looking for local residents with 3D printers who can print out a specific files, workers in the medical industry that have connections, workers in supply chain logistics, or people just have extra time on their hands and want to help. And so much more. Let us know what you can do for your community.</p>
    <h3>Fill Out This
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cJ4O4qUnG9TQ6F_llwx0M1fqduim3nNvn-uQqdypvwkMlg/viewform" target="_blank">Form</a>
      to help and get updates</h3>

    <p>or contact us directly at
      <a href="mailto:{{contact_info.email}}">{{contact_info.email}}</a>
    </p>

  </section>
  <section class="action-section">
    <h2 class="c_orange">Donate Materials or Money</h2>

    <p>We are currently in need of the following donations:</p>

    <ul>
      <li>0.02-0.04mm transparency films</li>
      <li>PETG 1.75mm filament</li>
      <li>#33 Rubber Bands</li>
      <li>Sanitation Products</li>
    </ul>

    <h3 class="pad-top-50px">Use the button below to donate money directly to San Diego Fighting Covid</h3>
    <p>Donations will be used to purchase transparency films for the shields as well as sanitation products. They may also be used for other supplies necessary to our cause. And proceeds leftover will be donated to a local charity benefiting victims of Covid-19.</p>
    <p>All donations are tax deductible and are being backed by
      <strong>Adium Technologies. EIN: 83-2942350</strong>
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations"/>
      <input type="hidden" name="business" value="sandiegofightingcovid@gmail.com"/>
      <input type="hidden" name="item_name" value="COVID-19 Relief Efforts"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="image" width="200px" src="/assets/donate_btn.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
    </form>

  </section>

  <section class="action-section">
    <h2 class="c_orange">Spread The Word!</h2>

    <h3>There's something you can do to help right now...</h3>
    <h3 style="font-size:2.4rem; font-weight:900; text-transform:uppercase;">Spread the word!</h3>
    <h3>The only way this effort will be successful is to quickly gain support and volunteers. Whether you have 5 friends or 500, share our website across all of your social media platforms. Every pair of eyes could make the difference!</h3>

  </section>
</div>