<div class="container">
  <h1 class="section-title">How To Help</h1>
  <section class="action-section">
    <h2 class="c_orange">3D Print Face Shields</h2>

    <h3 class="pad-top-10px">PRINTING DETAILS:</h3>
    <p>We have decided to print the 3D Verkstan Face Shield due to it's easy printability and simplified assembly. Download the file from the website below and follow the printing instructions.
    </p>
    <ul class="pad-bottom-25px">
      <li>
        <a href="https://3dprint.nih.gov/discover/3dpx-013306" target="_blank">3D Verkstan Face Shield</a>
      </li>

    </ul>
    <p>While PETG is the preferred material, face shields printed in PLA or ABS will be accepted.</p>
    <p>Be sure to fill out
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cJ4O4qUnG9TQ6F_llwx0M1fqduim3nNvn-uQqdypvwkMlg/viewform" target="_blank">this form</a>
      with your contact information to be notified about how 3D printed parts will be collected.</p>

    <p>We would love to hear about your printing progress! You can fill out
      <a href="https://forms.gle/jihWfzXsA1Uq3xBZ6" target="_blank">this form</a>
      to let us know how many face shields you've printed and the average rate at which you're producing them.</p>

    <h3 class="pad-top-50px">DROP-OFF DETAILS:</h3>

    <p>It is time to start collecting face shields! We have set up a drop off location in La Mesa. Please if you can, drop off the prints you have done. This first batch will be delivered to the VA Hospital hopefully on Monday (04/13).</p>

    <h4>How to prepare your prints for drop off:</h4>
    <ul>
      <li>Clean up your prints, remove any excess strings or filament.</li>
      <li>Wipe down your prints with a standard household cleaner</li>
      <li>If possible, pre-punch holes in your transparency films</li>
      <li>Leave the films separated from the frames</li>
      <li>Drop off at the specified drop off location</li>
    </ul>

    <h4>Drop-Off Location:</h4>
    <h3 class="c_blue">
      6335 Primrose Dr.
      <br>
      La Mesa, CA, 91942
    </h3>
    <p>You will find a clear plastic bin you can drop your prints off in. It will be emptied regularly. From there the prints will be wiped down again and packaged up to be delivered to the VA.</p>
    <p>
      <strong>If you are unable to drop off, please
        <a href="mailto:{{contact_info.email}}">email</a>
        us so we can arrange a way to get your prints.</strong>
    </p>
  </section>
  <section class="action-section">
    <h2 class="c_orange">Volunteer Your Time</h2>
    <p>We need people from all walks of life that can help in any way possible. We are looking for local residents with 3D printers who can print out a specific files, workers in the medical industry that have connections, workers in supply chain logistics, or people just have extra time on their hands and want to help. And so much more. Let us know what you can do for your community.</p>
    <h3>Fill Out This
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cJ4O4qUnG9TQ6F_llwx0M1fqduim3nNvn-uQqdypvwkMlg/viewform" target="_blank">Form</a>
      to help and get updates</h3>

    <p>or contact us directly at
      <a href="mailto:{{contact_info.email}}">{{contact_info.email}}</a>
    </p>

  </section>
  <section class="action-section">
    <h2 class="c_orange">Donate Materials or Money</h2>

    <p>We are currently in need of the following donations:</p>

    <ul>
      <li>0.02-0.04mm transparency films</li>
      <li>PETG 1.75mm filament</li>
      <li>#33 Rubber Bands</li>
      <li>Sanitation Products</li>
    </ul>

    <h3 class="pad-top-25px">Use the button below to donate money directly to San Diego Fighting Covid</h3>
    <p>Donations will be used to purchase transparency films for the shields as well as sanitation products. They may also be used for other supplies necessary to our cause. And proceeds leftover will be donated to a local charity benefiting victims of Covid-19.</p>
    <p>All donations are tax deductible and are being backed by
      <strong>Adium Technologies. EIN: 83-2942350</strong>
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations"/>
      <input type="hidden" name="business" value="sandiegofightingcovid@gmail.com"/>
      <input type="hidden" name="item_name" value="COVID-19 Relief Efforts"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="image" width="200px" src="/assets/donate_btn.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
    </form>

  </section>

  <section class="action-section">
    <h2 class="c_orange">Spread The Word!</h2>

    <h3>There's something you can do to help right now...</h3>
    <h3 style="font-size:2.4rem; font-weight:900; text-transform:uppercase;">Spread the word!</h3>
    <h3>The only way this effort will be successful is to quickly gain support and volunteers. Whether you have 5 friends or 500, share our website across all of your social media platforms. Every pair of eyes could make the difference!</h3>

  </section>
</div>