<div class="container">
  <h1 class="section-title">How To Help</h1>
  <section class="action-section">
    <h2 class="c_orange">3D Print PPE</h2>
    <p>Instructions coming soon</p>
  </section>
  <section class="action-section">
    <h2 class="c_orange">Volunteer Your Time</h2>
    <p>We need people from a all walks of life that can help in any way possible. We are looking for local residents with 3D printers who can print out a specific files, workers in the medical industry that have connections, workers in supply chain logistics, or people just have extra time on their hands and want to help. And so much more. Let us know what you can do for your community.</p>
    <h3>Fill Out This
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cJ4O4qUnG9TQ6F_llwx0M1fqduim3nNvn-uQqdypvwkMlg/viewform" target="_blank">Form</a>
      to help and get updates</h3>

    <p>More instructions coming soon</p>
  </section>
  <section class="action-section">
    <h2 class="c_orange">Donate Materials or Money</h2>
    <p>Instructions coming soon</p>

  </section>
</div>