<div class="container">
  <h1 class="section-title">Latest News</h1>

  <news-posts :postlimit="2"></news-posts>
  <a href="/news.html">
    <h2 style="text-align:center;">View All News and Updates</h2>
  </a>
</div>