<div class="container">
  <h1 class="section-title">Latest News</h1>
  <article class="news-item">
    <h2>Help Us Fight COVID-19!</h2>

    <p>We have partnered with the California Community Colleges to garner some support and they have passed along the following information:</p>
    <p>These four following designs have been approved by the National Institute of Health:</p>
    <ul>
      <li>Stratasys: https://3dprint.nih.gov/discover/3dpx-013421</li>
      <li>IC3D Budmen Design: https://3dprint.nih.gov/discover/3dpx-013309</li>
      <li>3D Verkstan: https://3dprint.nih.gov/discover/3dpx-013306</li>
      <li>Modified Prusa Design: https://3dprint.nih.gov/discover/3dpx-013359</li>
    </ul>
    <p>These four designs and these designs only will be accepted as donations. We are currently in talks with Sharp Healthcare, Kaiser, and the VA Hospital here in San Diego to establish a firm number of PPE Face shields needed. For the time being, if you would like to begin printing any of the shields linked above, it would be of great help. Be sure to pick a design that you like and are able to print and stick with it. Read the documentation in the links to find the recommended print settings for each of the parts.</p>

    <p>For those of you wanting to volunteer in other areas other than 3D printing, here are our needs right now:</p>

    <ul>
      <li>Sanitation Workers - People with knowledge of proper sanitation practices who can inform us on the materials needed to sanitize our prints</li>
      <li>Health Care Workers with Connections - People who can connect us with doctors and healthcare professionals in need of PPE</li>
      <li>PR - People who can help us make a large social media influence</li>
      <li>Financial - People who can help us get set up for monetary donations</li>
      <li>People actively pursuing donations or who have connections to industries</li>
    </ul>

    <p>We are currently in need of the following donations:</p>

    <ul>
      <li>0.02-0.04mm transparency films</li>
      <li>PETG 1.75mm filament</li>
      <li>#33 Rubber Bands</li>
      <li>Sanitary Products</li>
      <li>Monetary Donations</li>
    </ul>

    <p>As we all know, this is an ever-changing situation. Tomorrow things may change completely, and gears may shift. Right now, all we can do is provide healthcare workers with the essential PPE they request. In order to make this movement gain more traction, please use the hashtag #sandiegofightingcovid on all of your social medias. Reach out to your friends and partners who are capable of helping out. Have them fill out the form on our website to start receiving communications. If you all have any questions of ideas, please feel free to contact us. Thank you all for your support and stay safe. Happy Printing.</p>

    <p>We will be in touch in the next few days on how we will be collecting the prints and distributing them.</p>

    <p>Thank you all,</p>
    <h3>Jacob Byerline</h3>
    <a href="mailto:sandiegofightingcovid@gmail.com">sandiegofightingcovid@gmail.com</a>
  </article>
</div>