{% macro navLink(linkData) %}
  {% if linkData.target %}
    <a href="{{linkData.href}}" target="{{linkData.target}}">{{linkData.title}}</a>
  {% else %}
    <a href="{{linkData.href}}" target="_parent">{{linkData.title}}</a>
  {% endif %}
{% endmacro %}