<div class="container">
  <h1 class="section-title">What is this?</h1>

  <p class="pad-bottom-50px">We are attempting to organize support to safely produce and distribute 3D printed face shields and adjustable mask straps to local San Diego health professionals. If you don’t have a 3D printer there are still many opportunities to volunteer time and resources to helping this project. For a better idea of what we’re trying to do, watch the video below:</p>
  <div class="video-container">
    <iframe width="500px" height="300px" src="https://www.youtube.com/embed/sbEj7M3aZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  </div>

</div>