.main-header {
  .logo {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: $sc_medium) {
  .main-header {
    .logo {
      max-width: 300px;
    }
  }
}
