@import url("https://rsms.me/inter/inter.css");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: "Inter var", sans-serif;
  }
}

//COLORS
$c_blue: #24346e;
$c_orange: #f36e21;
$c_white: #ffffff;
$c_black: #141414;
$c_gray: #ededed;
