<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <title>{{short_title}}</title>
  </head>
  <body>
    {% include "partials/header.njk" %}
    {% block content %}{% endblock %}

    {% include "partials/footer.njk" %}

    <script src="js/scripts.min.js"></script>
  </body>
</html>